{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{% static 'movieratings/index.css' %}" />
    <meta charset="utf-8">
    <title>all movies</title>
  </head>
  <body>
    <div>
    <h1>All Movies</h1>
    <h3><a href="http://localhost:8000/">Home</a></h3></div>
    <p>
         {% for row in all_movies %}
          <p>
            <a href="/movie/{{ row.id }}">{{ row }}</a>

          </p>
          {% endfor %}
       </p>

  </body>
</html>
