{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'movieratings/index.css' %}" />
    <meta charset="utf-8">
    <title>Rater Info</title>
  </head>
  <body>
    <div>
    <h3><a href="http://localhost:8000/allraters/">All Raters</a></h3></div>
    <p>
      Occupation: {{ rater.occupation }} <br>
      Gender: {{ rater.gender }} <br>
      Zip Code: {{ rater.zip_code }} <br>
      Average Rating {{ rater.avg_rating }} <br>
      Movies Rated:


    </p>
    <p>
    {% for rating in movies %}
     <p>
       <a href="/movie/{{ rating.movie.id }}">{{ rating.movie }} : {{ rating.rating }}</a>


     </p>
     {% endfor %}
   </p>

  </body>
</html>
